services:
  mysql:
    image: mysql:8.0
    container_name: db_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: proyecto_ic
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot"]
      interval: 5s
      timeout: 3s
      retries: 20
    networks:
      - app-network

  backend:
    build: ./backend
    container_name: api_backend
    restart: always
    environment:
      DB_HOST: mysql
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: proyecto_ic
      DB_PORT: "3306"
      PORT: "3000"
      CORS_ORIGIN: "http://localhost:8080"
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: web_frontend
    restart: always
    depends_on:
      - backend
    ports:
      - "8081:8080"
    networks:
      - app-network
networks:
  app-network:
    driver: bridge

volumes:
  mysql-data: